<div class="comment">
    <form action="/comment" method="post">
        <input type="text" type="text" placeholder="comment" name="comment"><br>
        <input type="text" type="text" placeholder="commentAuthor" name="author"><br>
        <input class="button" type="submit" value="Submit Blog Post">
    </form>
</div>