<div class="comments">
    <form action="/comments" method="post">
        <input type="text" type="text" placeholder="Blog title" name="comment"><br>
        <input type="text" type="text" placeholder="Blog Content" name="commentAuthor"><br>
    </form>
</div>