<h1>A page devoted entirely to Dean.</h1>

<h3>Dean Singleton, born at some point in some place. The man... he's a teapot. There isn't much more to say. </h3>

<a class="links" href="https://github.com/dean418" target="blank">Dean, he has a github account. Check him out here.</a>