<h1>Posts</h1>

<form action="/" method="POST">
    <input type="text" type="text" placeholder="Blog title" name="blogTitle"><br>
    <input type="text" type="text" placeholder="Blog Content" name="blogContent"><br>
    <input type="text" type="text" placeholder="Blog Author" name="blogAuthor"><br>
    <input type="submit" value="Submit Blog Post">
</form>