<h1 class="heading">All the blogs are shown here</h1>

<div id="postContainer">
    {{#each posts}}
    {{> post}}
    {{/each}}
</div>
{{!-- <div id="postContainer">
    {{#each comments}}
    {{> showComment}}
    {{/each}}
</div> --}}