<h1 class="heading">All the blogs are shown here</h1>

<div id="postContainer">
    {{#each newPostInfo}}
    {{> post}}
    {{/each}}
    {{#each newCommentInfo}}
    {{!-- {{> showComment}} --}}
    {{/each}}
</div>