<h1>Write a Post</h1>

<form action="/write" method="POST">
    <input type="text" type="text" placeholder="Blog title" name="blogTitle"><br>
    <input type="text" type="text" placeholder="Blog Content" name="blogContent"><br>
    <input type="text" type="text" placeholder="Blog Author" name="blogAuthor"><br>
    <input type="text" type="text" placeholder="Category" name="category"><br>
    <input class="button" type="submit" value="Submit Blog Post">
</form>