@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

body {
    margin: 0;
    /* background-color: rgb(218, 218, 218); */
    font-family: 'Heebo', sans-serif;
    background-color: var(--background);
}

:root {
    --navbar: #0E131F;
    --text: #403F4C;
    --button: #0E131F;
    --background: #FDFFFC;
    --postBackground: #E4E6E3;
    --crimson: #CC2936;
}



#postContainer {
    /* margin-left: 2%; */
    margin: auto;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    /* text-align: center; */
    /* align-items: center; */
    align-content: center;
    background-color: white;
}

.buttonRow {
    display: flex;
    flex-flow: row wrap;
    padding-left: 0.5em;
    margin: auto;
    align-items: center;
}

.post {
    /* margin-top: 2%; */
    text-align: left;
}

.heading {
    color: var(--crimson);
    text-align: center;
    font-size: 3em;
}

.information {
    background-color: var(--postBackground);
    color: var(--crimson);
    padding: 1em;
    padding-left: 1.5em;
    /* width: 50%; */
}

.content {
    padding-left: 1em;
}

.title {
    font-size: 3em;
    text-decoration: none;
}
.titleLink {
    color: inherit;
}

.titleLink:visited {
    color: inherit;
}

a {
    text-decoration: none;
}

.author {
    /* color: #1f5673; */
    font-weight: bold;
}

input[type=submit] {
    display: inline-block;
    padding: 1.0em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--background);
    background-color: var(--button);
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--navbar);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #2f4858;
}

.links {
    text-decoration: none;
    color: black;
}